/* gradient fallbacks taken from csstricks.com */
body {
  background-image: linear-gradient(to left, #0077ff, #ffffff);
  margin: 0px;
  overflow: hidden;
}

#info {
  position: absolute;
  top: 0px; 
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.instructions {
  margin-left: 80px;
  margin-right: 70px;
  text-align: center;
}

.movement-info {
  margin-left: 40px;
}

